To ignore goland setting
/.idea

To ignore env file (privacy)
config.json

To ignore static image
/static/costume/*
!/static/costume/.gitkeep

/static/profile/*
!/static/profile/.gitkeep

/static/review/*
!/static/review/.gitkeep

/static/identity_card/*
!/static/identity_card/.gitkeep
